{% extends "base.html" %}

{%block content%}
    <main>
        <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #326f31; height:200px;">

            <div class="ms-3" style="margin-top: 130px; color: white">
              <h3>{{fio}}</h3>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5  text-body">
              <p class="lead fw-normal mb-1">Об участнике</p>
              <div class="p-4 bg-body-tertiary">
                <p class="font-italic mb-1" data-id = "item-name">ФИО: {{fio}}</p>
                <p class="font-italic mb-1" data-id = "item-region">Регион: {{region}}</p>
                <p class="font-italic mb-1" data-id = "item-school">Школа: {{school}}</p>
                <p class="font-italic mb-1" data-id = "item-grade">Класс: {{grade}}</p>
                <p class="font-italic mb-1" data-id = "item-place1">Место после первого тура: {{grade}}</p>
                <p class="font-italic mb-1" data-id = "item-place2">Место после первого тура:: {{grade}}</p>
                <p class="font-italic mb-1" data-id = "item-place_fn">Итоговое место: {{grade}}</p>
                <p class="font-italic mb-1" data-id = "item-results">Результаты по всем задачам: {{grade}}</p>
              </div>
            </div>
            <div>
              <h5>Результаты</h5>
              <h4 class="subsection-title">Первый тур</h4>
                    <div class="cards-grid">
                        <div class="content-card">
                            {{graph1|safe}}
                        </div>
                    </div>

                    <h4 class="subsection-title">Второй тур</h4>
                    <div class="cards-grid">
                        <div class="content-card">
                            {{graph1|safe}}
                        </div>
                    </div>

                    <h4 class="subsection-title">Общие результаты</h4>
                    <div class="cards-grid">
                        <div class="content-card">
                            {{graph1|safe}}
                        </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </main>
{%endblock%}
